@import "tailwindcss";

body {
  /* Change bg-zinc-900 to bg-black */
  @apply bg-black text-zinc-200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-700;
}